.btn {
    display: flex;
    padding: 15px 24px 17px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: $black_main;
    
    color: $white_main;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */ 
}

.btn_outlined {
    border: 2px solid $black_main;
    color: $black_main;
    background: $white_main;
}

.buttons {
    margin-top: 124px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 17px;
}

.btn-b {
    display: flex;
    padding: 4px 16px;
    align-items: flex-start;
    gap: 8px; 
    border-radius: 10000px;
}

.btn-w {
    display: flex;
    padding: 4px 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 10000px;
}