.photo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    &__block {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}